<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0, minimal-ui">
    <meta name="imagemode" content="force">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="pragma" content="no-cache">
    <title>品信互动 - 微商城</title>
    <link rel="stylesheet" href="../../public/css/wx_business/style.min.css?v=5ac2c0e">
    <script src="/static/js/_modules/common.js"></script>
</head>

<body>
    <div id="app" class="viewport">
        <div class="section section-header">
            <div class="container">
                <div class="logo">
                    <a href="index.html">
                        <img src="/public/img/wx_business/weixin_logo_icon.jpg?v=2050ac8">
                    </a>
                </div>
                <div class="link">
                    <a href="index.html" class="home">
                        <img src="/public/img/wx_business/weixin_home_icon.png?v=4643757">
                    </a>
                    <a href="javascript:void(0);" class="phone">
                        <img src="/public/img/wx_business/weixin_phone_icon.png?v=f3b4634">
                    </a>
                </div>
            </div>
        </div>
        <div class="section section-banner">
            <div class="text">
                <span class="desc-1">“移动互联网平台开发与运营商”</span>
                <span class="desc-2">新媒体整合营销策划机构</span>
            </div>
        </div>
        <div class="section section-container">
            <div class="container">
                <div class="box1 flex">
                    <div class="flex-1">
                        <a href="abouts.html" class="big">
                            <img src="/public/img/wx_business/weixin_aboutus_icon.jpg?v=8c096cf">
                        </a>
                    </div>
                    <div class="flex-1">
                        <div class="items-top">
                            <a href="product.html">
                                <img src="/public/img/wx_business/weixin_jieshao_icon.jpg?v=790ec14">
                            </a>
                        </div>
                        <div class="items-bottom">
                            <a href="programme.html">
                                <img src="/public/img/wx_business/weixin_fangan_icon.jpg?v=022e522">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="box2 flex">
                    <div class="flex-1">
                        <div class="items-top">
                            <a href="case.html">
                                <img src="/public/img/wx_business/weixin_anli_icon.jpg?v=a3f08c1">
                            </a>
                        </div>
                        <div class="items-bottom">
                            <a href="join.html">
                                <img src="/public/img/wx_business/weixin_jiameng_icon.jpg?v=891a186">
                            </a>
                        </div>
                    </div>
                    <div class="flex-1">
                        <a href="planDistribution.html" class="big">
                            <img src="/public/img/wx_business/weixin_fenxiao_icon.jpg?v=615f2c9">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-footer">
            <div class="copyright">Copyright © 1991-2017 品信互动 版权所有</div>
        </div>
    </div>
    <script src="/static/js/libs/jquery.min.js?v1.11.3"></script>
    <script src="/static/js/libs/vue.min.js?v1.0.26"></script>
    <script src="../../public/js/wx_business/script.min.js?v=cf8427e"></script>
</body>

</html>