<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0, minimal-ui">
    <meta name="imagemode" content="force">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="pragma" content="no-cache">
    <title>小米商城</title>
    <link rel="stylesheet" href="../../public/css/xm_website/category.min.css?v=2907350">
    <script src="/static/js/_modules/common.js"></script>
</head>

<body>
    <div id="app" class="viewport">
        <div id="J_category" class="page-category">
            <div class="section section-header">
                <div class="left">
                    <a href="http://www.baicu.com">
                        <img data-src="img/icon_back_n.png?v=30ed918">
                    </a>
                </div>
                <div class="middle">
                    <h2 class="title">商品分类</h2>
                </div>
            </div>
            <div class="section section-category-wrap">
                <div id="m1" class="list-wrap">
                    <h3 class="title-h3">手机 / 电话卡</h3>
                    <ul class="list-category">
                        <template v-for="item in data.one">
                            <li class="items-li">
                                <a v-bind:href="item.image_url" class="img">
                                    <img v-bind:src="item.image" class="lazy">
                                </a>
                                <a v-bind:href="item.image_url">
                                    <p v-text="item.title" class="name"></p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
                <div id="m2" class="list-wrap">
                    <h3 class="title-h3">笔记本 / 平板</h3>
                    <ul class="list-category">
                        <template v-for="item in data.two">
                            <li class="items-li">
                                <a v-bind:href="item.image_url" class="img">
                                    <img v-bind:src="item.image" class="lazy">
                                </a>
                                <a v-bind:href="item.image_url">
                                    <p v-text="item.title" class="name"></p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
                <div id="m3" class="list-wrap">
                    <h3 class="title-h3">电视 / 盒子</h3>
                    <ul class="list-category">
                        <template v-for="item in data.three">
                            <li class="items-li">
                                <a v-bind:href="item.image_url" class="img">
                                    <img v-bind:src="item.image" class="lazy">
                                </a>
                                <a v-bind:href="item.image_url">
                                    <p v-text="item.title" class="name"></p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
                <div id="m4" class="list-wrap">
                    <h3 class="title-h3">智能硬件 / 路由器</h3>
                    <ul class="list-category">
                        <template v-for="item in data.four">
                            <li class="items-li">
                                <a v-bind:href="item.image_url" class="img">
                                    <img v-bind:src="item.image" class="lazy">
                                </a>
                                <a v-bind:href="item.image_url">
                                    <p v-text="item.title" class="name"></p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
                <div id="m5" class="list-wrap">
                    <h3 class="title-h3">移动电源 / 插线板 / 电池</h3>
                    <ul class="list-category">
                        <template v-for="item in data.five">
                            <li class="items-li">
                                <a v-bind:href="item.image_url" class="img">
                                    <img v-bind:src="item.image" class="lazy">
                                </a>
                                <a v-bind:href="item.image_url">
                                    <p v-text="item.title" class="name"></p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
                <div id="m6" class="list-wrap">
                    <h3 class="title-h3">耳机 / 音箱 / 存储卡</h3>
                    <ul class="list-category">
                        <template v-for="item in data.six">
                            <li class="items-li">
                                <a v-bind:href="item.image_url" class="img">
                                    <img v-bind:src="item.image" class="lazy">
                                </a>
                                <a v-bind:href="item.image_url">
                                    <p v-text="item.title" class="name"></p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
                <div id="m7" class="list-wrap">
                    <h3 class="title-h3">小米生活方式</h3>
                    <ul class="list-category">
                        <template v-for="item in data.seven">
                            <li class="items-li">
                                <a v-bind:href="item.image_url" class="img">
                                    <img v-bind:src="item.image" class="lazy">
                                </a>
                                <a v-bind:href="item.image_url">
                                    <p v-text="item.title" class="name"></p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
                <div id="m8" class="list-wrap">
                    <h3 class="title-h3">保护类配件</h3>
                    <ul class="list-category">
                        <template v-for="item in data.eight">
                            <li class="items-li">
                                <a v-bind:href="item.image_url" class="img">
                                    <img v-bind:src="item.image" class="lazy">
                                </a>
                                <a v-bind:href="item.image_url">
                                    <p v-text="item.title" class="name"></p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
                <div id="m9" class="list-wrap">
                    <h3 class="title-h3">优惠套装</h3>
                    <ul class="list-category">
                        <template v-for="item in data.nine">
                            <li class="items-li">
                                <a v-bind:href="item.image_url" class="img">
                                    <img v-bind:src="item.image" class="lazy">
                                </a>
                                <a v-bind:href="item.image_url">
                                    <p v-text="item.title" class="name"></p>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
            <div class="section section-footer">
                <ul>
                    <li>
                        <a href="index.html">
                            <div class="nav">
                                <div class="ih ispr"></div>
                                <p>首页</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="category.html" class="current">
                            <div class="nav">
                                <div class="ic ispr"></div>
                                <p>分类</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="recommend.html">
                            <div class="nav">
                                <div class="is ispr"></div>
                                <p>购物车</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="nav">
                                <div class="if ispr"></div>
                                <p>我的</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="/static/js/libs/jquery.min.js?v1.11.3"></script>
    <script src="/static/js/libs/vue.min.js?v1.0.26"></script>
    <script src="../../public/js/xm_website/category.min.js?v=4d698f3"></script>
</body>

</html>