<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0, minimal-ui">
    <meta name="imagemode" content="force">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="pragma" content="no-cache">
    <title>小米商城</title>
    <link rel="stylesheet" href="../../public/css/xm_website/style.min.css?v=13ee6ea">
    <script src="/static/js/_modules/common.js"></script>
</head>

<body>
    <div id="app" class="viewport" v-cloak>
        <div id="J_home" data-log="首页" class="page-index">
            <div class="section section-header">
                <div class="search-bar">
                    <a href="javascript:void(0);">
                        <span class="icon icon-search"></span>
                        <span class="text">搜索商品名称</span>
                    </a>
                </div>
                <div class="search-bottom"></div>
            </div>
            <div id="J_slider" class="section section-slider">
                <ul id="J_slider-img" class="slider-wrap">
                    <li class="slider-img" v-for="todo in banner">
                        <a href="javascript:void(0);">
                            <img v-bind:src="'/public/img/xm_website/' + todo.image" class="lazy">
                        </a>
                    </li>
                </ul>
                <div id="btnBox" class="slider-page">
                    <span class="current">1</span>
                    <span>2</span>
                    <span>3</span>
                </div>
            </div>
            <div class="section section-list">
                <div class="container">
                    <div class="mcells-auto-fill">
                        <div id="J_phoneInfor" data-index="0" class="body">
                            <template v-for="todo in parts1">
                                <div>
                                    <a href="javascript:void(0);">
                                        <div :class="todo.sale_sign == 'phone' ? 'items-1' : ''" class="items">
                                            <img v-bind:src="'/public/img/xm_website/' + todo.image" class="lazy">
                                        </div>
                                    </a>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
                <div id="J_productList" class="container">
                    <template v-for="todo in parts2">
                        <div class="container">
                            <div class="list J_linksign-customize">
                                <div class="items">
                                    <div class="img">
                                        <a href="javascript:void(0);">
                                            <img v-bind:src="'/public/img/xm_website/' + todo.image" class="lazy icon">
                                        </a>
                                    </div>
                                    <div class="infor">
                                        <a href="javascript:void(0);">
                                            <p v-html="todo.title" class="name"></p>
                                            <p v-html="todo.brief" class="brief"></p>
                                            <p v-html="todo.price" class="price"></p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
                <div class="container">
                    <div class="mcells-auto-fill">
                        <div id="J_mobileCard" data-index="64" class="body mobile-card">
                            <template v-for="todo in parts3">
                                <div>
                                    <a href="javascript:void(0);">
                                        <div class="items J_linksign-customize">
                                            <img v-bind:src="'/public/img/xm_website/' + todo.image" class="lazy">
                                        </div>
                                    </a>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-footer">
                <ul>
                    <li>
                        <a href="index.html" class="current">
                            <div class="nav">
                                <div class="ih ispr"></div>
                                <p>首页</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="category.html">
                            <div class="nav">
                                <div class="ic ispr"></div>
                                <p>分类</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="recommend.html">
                            <div class="nav">
                                <div class="is ispr"></div>
                                <p>购物车</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="nav">
                                <div class="if ispr"></div>
                                <p>我的</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="/static/js/libs/jquery.min.js?v1.11.3"></script>
    <script src="/static/js/libs/vue.min.js?v1.0.26"></script>
    <script src="../../public/js/xm_website/script.min.js?v=4f35a3f"></script>

</body>

</html>