/**
 *
 * @authors chenfuxin (chenfuxin@99cj.com.cn)
 * @date    2016-11-02 09:13:31
 */

@import '../../../static/scss/_mobile_normalize.scss';
$imgUrl: '/public/img/xm_website/';
[v-cloak] {
    display: none;
}

//Your style Here
body {
    font-family: "Microsoft Yahei";
}

.viewport {
    .lazy {
        width: 100%;
    }
}

.page-index {
    background: #fff;
    padding-bottom: 1rem;
}

.section-header {
    background: #fff;
    padding: 0 0 0.1rem;
    .search-bar {
        line-height: 0.34rem;
        a {
            display: block;
            padding: 0.2rem 0.3rem 0.12rem;
        }
        .icon-search {
            font-size: 0.4rem;
            color: #cacaca;
            padding-right: 0.1rem;
            img {
                width: 0.18rem;
                height: 0.18rem;
            }
        }
        .text {
            font-size: 0.2rem;
            color: #9c9c9c;
        }
    }
    .search-bottom {
        border: 1px solid #e3e3e3;
        margin: 0 0.2rem;
        height: 0.08rem;
        border-top: 0;
    }
}

.section-slider {
    height: 3.6rem;
    background: #fff;
    position: relative;
    overflow: hidden;
    .slider-wrap {
        // position: relative;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }
    .slider-img {
        float: left;
        position: relative;
        text-align: center;
        overflow: hidden;
        a {
            display: block;
        }
        img {
            height: 3.6rem;
        }
    }
    .slider-page {
        position: absolute;
        bottom: 0.01rem;
        width: 100%;
        text-align: center;
        span {
            display: inline-block;
            width: 0.1rem;
            height: 0.1rem;
            margin: 0 0.1rem;
            border-radius: 0.05rem;
            background: #fff;
            opacity: 0.6;
            box-shadow: 0 0 1px #ccc;
            text-indent: -9999em;
        }
        .current {
            opacity: 0.9;
            box-shadow: 0 0 2px #ccc;
            background: #f8f8f8;
        }
    }
}

.section-list {
    transform: translate3d(0, 0, 0);
    .mcells-auto-fill {
        padding: 0.1rem 0;
        background: #f5f5f5;
        .body {
            margin: 0 auto;
            position: relative;
            overflow: hidden;
            width: 7.2rem;
            height: 9.42rem;
        }
        .mobile-card {
            height: 2rem;
            .items {
                width: 3.6rem;
                height: 1rem + 1rem;
                margin: 0;
            }
        }
        .items {
            width: 2.32rem;
            height: 3.06rem;
            float: left;
            margin-left: 0.12rem;
            margin-bottom: 0.12rem;
        }
        .items-1,
        .items-4,
        .items-7 {
            margin-left: 0;
        }
    }
    .list {
        .items {
            padding: 0.3rem 0;
            display: box;
            display: -webkit-box;
            box-align: center;
            -webkit-box-align: center;
            border-bottom: 1px solid #f2f2f2;
        }
        .img {
            width: 2.54rem;
            height: 1.45rem;
            position: relative;
        }
        .tag {
            position: absolute;
            width: 1.2rem;
            height: 1.2rem;
            bottom: 0;
            left: 0.1rem;
            opacity: 0.9 !important;
            z-index: 2;
        }
        .infor {
            width: 100%;
            margin-right: 0.2rem;
            box-flex: 1;
            -webkit-box-flex: 1;
        }
        .name {
            font-size: 0.3rem;
            color: #000;
            margin-bottom: 0.1rem;
        }
        .brief {
            font-size: 0.26rem;
            line-height: 0.34rem;
            color: #969696;
            margin-bottom: 0.12rem;
        }
        .price {
            font-size: 0.28rem;
            color: #ff6700;
        }
    }
}

.section-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFF;
    z-index: 99;
    border-top: 1px solid #e0e0e0;
    ul {
        display: box;
        display: -webkit-box;
        box-align: center;
        -webkit-box-align: center;
        box-pack: center;
        -webkit-box-pack: center;
    }
    li {
        width: 100%;
        text-align: center;
        box-flex: 1;
        -webkit-box-flex: 1;
        a {
            display: block;
            padding: 0.12rem 0;
        }
        p {
            font-size: 0.22rem;
            line-height: 0.8;
            color: #999;
        }
        .current {
            .nav {
                .ih {
                    background-position-y: -2.4rem;
                }
                p {
                    color: #ff6700;
                }
            }
        }
    }
    .ispr {
        width: 0.4rem;
        height: 0.4rem;
        background-image: url('#{$imgUrl}spr1.png');
        background-size: 0.4rem 3.2rem;
        overflow: hidden;
        margin: 0 auto 0.08rem;
        &.ih {
            background-position-y: -2.8rem;
        }
        &.ic {
            background-position-y: -0.4rem;
        }
        &.is {
            background-position-y: -1.2rem;
        }
        &.if {
            background-position-y: -2rem;
        }
    }
}