<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0, minimal-ui">
    <meta name="imagemode" content="force">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="pragma" content="no-cache">
    <title>小米商城</title>
    <link rel="stylesheet" href="../../public/css/xiaomi_02/style.min.css?v=7810688">
    <script src="/static/js/_modules/common.js"></script>
</head>

<body>
    <div id="J_visibleWatcher" class="viewport">
        <div class="section section-header">
            <div class="img">
                <img src="/public/img/xiaomi_02/header-bg.jpg" class="lazy fade in">
            </div>
            <div class="boxBtn">
                <div class="list">
                    <li data-target="#privilege" class="item J_item">
                        <a href="javascript:void(0);">了解会员特权</a>
                    </li>
                    <li data-target="#choose" class="item J_item">
                        <a href="javascript:void(0);">挑电视</a>
                    </li>
                </div>
            </div>
        </div>
        <div id="privilege" class="section section-wrap1">
            <img src="/public/img/xiaomi_02/section-wrap1.png" class="lazy">
        </div>
        <div class="section section-wrap2">
            <img src="/public/img/xiaomi_02/section-wrap2.png" class="lazy">
        </div>
        <div class="section section-wrap3">
            <img src="/public/img/xiaomi_02/section-wrap3.jpg" class="lazy">
        </div>
        <div id="choose" class="section section-wrap4">
            <img src="/public/img/xiaomi_02/section-wrap4.png" class="lazy">
        </div>
        <div class="section section-wrap5">
            <div class="list">
                <ul>
                    <li>
                        <div class="box">
                            <a href="javascript:void(0);">
                                <img src="/public/img/xiaomi_02/mitv-70.jpg" class="lazy">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="box">
                            <a href="javascript:void(0);">
                                <img src="/public/img/xiaomi_02/mitv-65.jpg" class="lazy">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="box">
                            <a href="javascript:void(0);">
                                <img src="/public/img/xiaomi_02/mitv-60.jpg" class="lazy">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="box">
                            <a href="javascript:void(0);">
                                <img src="/public/img/xiaomi_02/mitv-48.jpg" class="lazy">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="box">
                            <a href="javascript:void(0);">
                                <img src="/public/img/xiaomi_02/mitv-55.jpg" class="lazy">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="box">
                            <a href="javascript:void(0);">
                                <img src="/public/img/xiaomi_02/mitv-43.jpg" class="lazy">
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section section-wrap6">
            <img src="/public/img/xiaomi_02/section-wrap6.png" class="lazy">
        </div>
        <div class="section section-wrap7">
            <div class="list">
                <ul>
                    <li>
                        <div class="box">
                            <a href="javascript:void(0);">
                                <img src="/public/img/xiaomi_02/hezi3s.jpg" class="lazy">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="box">
                            <a href="javascript:void(0);">
                                <img src="/public/img/xiaomi_02/hezimini.jpg" class="lazy">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="box">
                            <a href="javascript:void(0);">
                                <img src="/public/img/xiaomi_02/hezi3.jpg" class="lazy">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="box">
                            <a href="javascript:void(0);">
                                <img src="/public/img/xiaomi_02/yaokongqi.jpg" class="lazy">
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="list list2">
                <ul>
                    <li>
                        <div class="box">
                            <a href="javascript:void(0);">
                                <img src="/public/img/xiaomi_02/zhuji.jpg" class="lazy">
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section section-wrap8">
            <img src="/public/img/xiaomi_02/section-wrap8.png" class="lazy">
        </div>
        <div class="section section-wrap9">
            <div class="list">
                <ul>
                    <li>
                        <div class="box">
                            <a href="javascript:void(0);">
                                <img src="/public/img/xiaomi_02/taozhuang1.jpg" class="lazy">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="box">
                            <a href="javascript:void(0);">
                                <img src="/public/img/xiaomi_02/taozhuang2.jpg" class="lazy">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="box">
                            <a href="javascript:void(0);">
                                <img src="/public/img/xiaomi_02/taozhuang3.jpg" class="lazy">
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="footer">
                <p>小米为发烧而生</p>
            </div>
        </div>
    </div>
    <script src="/static/js/libs/jquery.min.js?v1.11.3"></script>
    <!-- <script src="/static/js/libs/vue.min.js?v1.0.26"></script> -->
    <script src="../../public/js/xiaomi_02/script.min.js?v=8655808"></script>
</body>

</html>