<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0, minimal-ui">
    <meta name="imagemode" content="force">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="pragma" content="no-cache">
    <title>小米商城</title>
    <link rel="stylesheet" href="../../public/css/xiaomi_03/style.min.css?v=da017da">
    <script src="/static/js/_modules/common.js"></script>
</head>

<body>
    <div id="app" class="viewport" v-cloak>
        <div class="section section-header">
            <div class="slider">
                <div class="part" v-for="todo in banner" :class="todo.is_active === true ? 'active' : ''">
                    <img v-bind:src="todo.img_url" alt="{{todo.title}}" class="lazy">
                </div>
            </div>
        </div>
        <div class="section section-nav">
            <div id="J-nav" class="nav">
                <a href="javascript:void(0);" data-target="#childhood" class="items items-a active">忆童年</a>
                <a href="javascript:void(0);" data-target="#new" class="items items-b">玩新品</a>
                <a href="javascript:void(0);" data-target="#special" class="items items-c">享特惠</a>
                <a href="javascript:void(0);" data-target="#gift" class="items items-d">赢好礼</a>
            </div>
        </div>
        <div id="childhood" class="section parts section-wrap1">
            <div class="title-img">
                <img src="/public/img/xiaomi_03/p1-1960544c22.jpg?v=9e55964" class="lazy">
            </div>
            <div class="showBox">
                <ul class="list">
                    <li class="items" v-for="todo in product_list_01">
                        <div class="img">
                            <img v-bind:src="todo.img_url" class="lazy">
                        </div>
                        <div class="brief">
                            <h1>{{todo.title}}</h1>
                            <p>{{todo.desc}}</p>
                        </div>
                        <div class="price">{{todo.price}}元<em v-if="todo.is_qi">起</em></div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section parts section-wrap2">
            <div class="title-img">
                <img src="/public/img/xiaomi_03/p2-a7a1fe39b5.jpg?v=2bd9663" class="lazy">
            </div>
            <div class="showBox">
                <ul class="list">
                    <li class="items">
                        <a href="javascript:void(0);" class="img">
                            <img src="/public/img/xiaomi_03/p2-1.jpg?v=0536ca0" class="lazy">
                        </a>
                        <div class="brief">
                            <h1>小米电视3S 43英寸</h1>
                            <p>让童年的记忆，更加清晰</p>
                        </div>
                        <div class="price">1799元</div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                    <li class="items">
                        <a href="javascript:void(0);" class="img">
                            <img src="/public/img/xiaomi_03/p2-2.jpg?v=0fb9bb2" class="lazy">
                        </a>
                        <div class="brief">
                            <h1>小米家庭音响 金属版</h1>
                            <p>用今天的音响，听听小时候的声音</p>
                        </div>
                        <div class="price">899元</div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                    <li class="items">
                        <a href="javascript:void(0);" class="img">
                            <img src="/public/img/xiaomi_03/p2-3.jpg?v=a95bebb" class="lazy">
                        </a>
                        <div class="brief">
                            <h1>米路由器 mini</h1>
                            <p>只要网速快，时时回味小时候</p>
                        </div>
                        <div class="price">129元</div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                    <li class="items">
                        <a href="javascript:void(0);" class="img">
                            <img src="/public/img/xiaomi_03/p2-4.jpg?v=5068bf6" class="lazy">
                        </a>
                        <div class="brief">
                            <h1>小米蓝牙手柄</h1>
                            <p>红白机的游戏如今可以这样玩</p>
                        </div>
                        <div class="price">99元</div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section parts section-wrap3">
            <div class="title-img">
                <img src="/public/img/xiaomi_03/p3-8f3b5ed58c.jpg?v=4a0d949" class="lazy">
            </div>
            <div class="showBox">
                <ul class="list">
                    <li class="items">
                        <a href="javascript:void(0);" class="img">
                            <img src="/public/img/xiaomi_03/p3-1.jpg?v=ee9b6ef" class="lazy">
                        </a>
                        <div class="brief">
                            <h1>九号平衡车</h1>
                            <p>用好奇的心看看这个世界</p>
                        </div>
                        <div class="price">1999元</div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                    <li class="items">
                        <a href="javascript:void(0);" class="img">
                            <img src="/public/img/xiaomi_03/p3-2.jpg?v=1436248" class="lazy">
                        </a>
                        <div class="brief">
                            <h1>小米手环</h1>
                            <p>寻找童年的每一步都应该被记录</p>
                        </div>
                        <div class="price">99元</div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                    <li class="items">
                        <a href="javascript:void(0);" class="img">
                            <img src="/public/img/xiaomi_03/p3-3.jpg?v=e196194" class="lazy">
                        </a>
                        <div class="brief">
                            <h1>小蚁运动相机</h1>
                            <p>换一个视角，也许会有新发现</p>
                        </div>
                        <div class="price">399元</div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                    <li class="items">
                        <a href="javascript:void(0);" class="img">
                            <img src="/public/img/xiaomi_03/p3-4.jpg?v=0589224" class="lazy">
                        </a>
                        <div class="brief">
                            <h1>米兔电话儿童手表</h1>
                            <p>和小孩随时随地在一起</p>
                        </div>
                        <div class="price">299元</div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section parts section-wrap4">
            <div class="title-img">
                <img src="/public/img/xiaomi_03/p4-41a970c817.jpg?v=6148ab4" class="lazy">
            </div>
            <div class="showBox">
                <ul class="list">
                    <li class="items">
                        <a href="javascript:void(0);" class="img">
                            <img src="/public/img/xiaomi_03/p4-1.jpg?v=46d7dd7" class="lazy">
                        </a>
                        <div class="brief">
                            <h1>米家写字灯</h1>
                            <p>书桌旁的灯光，如此温暖</p>
                        </div>
                        <div class="price">169元</div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                    <li class="items">
                        <a href="javascript:void(0);" class="img">
                            <img src="/public/img/xiaomi_03/p4-2.jpg?v=cd12aed" class="lazy">
                        </a>
                        <div class="brief">
                            <h1>小米随身蓝牙音箱</h1>
                            <p>重新听小时候的歌，会有新的感受</p>
                        </div>
                        <div class="price">69元</div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                    <li class="items">
                        <a href="javascript:void(0);" class="img">
                            <img src="/public/img/xiaomi_03/p4-3.jpg?v=ce456e1" class="lazy">
                        </a>
                        <div class="brief">
                            <h1>小米圈铁耳机</h1>
                            <p>现在的耳机，比以前更美好了</p>
                        </div>
                        <div class="price">99元</div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                    <li class="items">
                        <a href="javascript:void(0);" class="img">
                            <img src="/public/img/xiaomi_03/p4-4.jpg?v=0c73b36" class="lazy">
                        </a>
                        <div class="brief">
                            <h1>20000mAh移动电源</h1>
                            <p>小时候的梦想，也需要充电</p>
                        </div>
                        <div class="price">149元</div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="new" class="section parts section-wrap5">
            <div class="title-img">
                <img src="/public/img/xiaomi_03/p5-0ab5647b55.jpg?v=d6afbd0" class="lazy">
            </div>
            <div class="showBox wrap5">
                <img src="/public/img/xiaomi_03/p5-box-6cd900c308.jpg?v=1b69b0d" class="lazy lazy-bg">
                <ul class="list">
                    <li class="items">
                        <a href="javascript:void(0);" class="img">
                            <img src="/public/img/xiaomi_03/p5-1.jpg?v=b047ff2" class="lazy">
                        </a>
                        <div class="brief">
                            <h1>魔方</h1>
                            <p>随心控制智能设备</p>
                        </div>
                        <div class="price">69元</div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                    <li class="items">
                        <a href="javascript:void(0);" class="img">
                            <img src="/public/img/xiaomi_03/p5-2.jpg?v=52f13f6" class="lazy">
                        </a>
                        <div class="brief">
                            <h1>Yeelight智能灯泡 彩光版</h1>
                            <p>1600万种色彩的灯泡</p>
                        </div>
                        <div class="price">99元</div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                    <li class="items">
                        <a href="javascript:void(0);" class="img">
                            <img src="/public/img/xiaomi_03/p5-3.jpg?v=6c20b48" class="lazy">
                        </a>
                        <div class="brief">
                            <h1>小米小钢炮蓝牙音箱2</h1>
                            <p>声声动听的桌上艺术品</p>
                        </div>
                        <div class="price">129元</div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                    <li class="items">
                        <a href="javascript:void(0);" class="img">
                            <img src="/public/img/xiaomi_03/p5-4.jpg?v=07c95ae" class="lazy">
                        </a>
                        <div class="brief">
                            <h1>悟空米兔</h1>
                            <p>米兔新玩具，夏日来袭</p>
                        </div>
                        <div class="price">49元</div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                    <li class="items">
                        <a href="javascript:void(0);" class="img">
                            <img src="/public/img/xiaomi_03/p5-5.jpg?v=f46d7a1" class="lazy"></a>
                        <div class="brief">
                            <h1>飞行员米兔屏幕擦挂饰</h1>
                            <p>可爱造型，一起在天空翱翔</p>
                        </div>
                        <div class="price">29元</div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="special" class="section parts section-wrap6">
            <div class="title-img">
                <img scr="/public/img/xiaomi_03/p6-a69886324e.jpg?v=f93747c" class="lazy">
            </div>
            <div class="showBox">
                <ul class="list">
                    <li class="items">
                        <a href="javascript:void(0);" class="img">
                            <img src="/public/img/xiaomi_03/p6-1.jpg?v=65459f0" class="lazy">
                        </a>
                        <div class="brief">
                            <h1>清凉能量套装</h1>
                            <p>静音实用可收纳的小风扇套餐</p>
                        </div>
                        <div class="price">163.9元
                            <del>168.9元</del>
                        </div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                    <li class="items">
                        <a href="javascript:void(0);" class="img">
                            <img src="/public/img/xiaomi_03/p6-2.jpg?v=66499c0" class="lazy">
                        </a>
                        <div class="brief">
                            <h1>照明能量套装</h1>
                            <p>能调节亮度的小巧随身灯套餐</p>
                        </div>
                        <div class="price">163.9元
                            <del>168.9元</del>
                        </div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                    <li class="items">
                        <a href="javascript:void(0);" class="img">
                            <img src="/public/img/xiaomi_03/p6-3.jpg?v=3731c0e" class="lazy">
                        </a>
                        <div class="brief">
                            <h1>大白兔奶糖</h1>
                            <p>小时候的好滋味</p>
                        </div>
                        <div class="price">回忆无价</div>
                    </li>
                    <li class="items">
                        <a href="javascript:void(0);" class="img">
                            <img src="/public/img/xiaomi_03/p6-4.jpg?v=a96af2f" class="lazy">
                        </a>
                        <div class="brief">
                            <h1>小米体重秤</h1>
                            <p>喝杯水都可感知的精准</p>
                        </div>
                        <div class="price">99元</div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                    <li class="items">
                        <a href="javascript:void(0);" class="img">
                            <img src="/public/img/xiaomi_03/p6-5.jpg?v=ae96514" class="lazy">
                        </a>
                        <div class="brief">
                            <h1>小米空气净化器2</h1>
                            <p>10分钟，房间空气焕然一新</p>
                        </div>
                        <div class="price">699元</div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                    <li class="items">
                        <a href="javascript:void(0);" class="img">
                            <img src="/public/img/xiaomi_03/p6-6.jpg?v=bba9248" class="lazy">
                        </a>
                        <div class="brief">
                            <h1>小蚁智能摄像机 夜视版</h1>
                            <p>能看能听能说，手机远程观看</p>
                        </div>
                        <div class="price">149元</div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                    <li class="items">
                        <a href="javascript:void(0);" class="img">
                            <img src="/public/img/xiaomi_03/p6-7.jpg?v=2a71f7f" class="lazy">
                        </a>
                        <div class="brief">
                            <h1>Yeelight床头灯</h1>
                            <p>给卧室1600万种颜色</p>
                        </div>
                        <div class="price">249元</div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                    <li class="items">
                        <a href="javascript:void(0);" class="img">
                            <img src="/public/img/xiaomi_03/p6-8.jpg?v=4d23a13" class="lazy">
                        </a>
                        <div class="brief">
                            <h1>小米智能插线板</h1>
                            <p>远程控制家电，还很漂亮</p>
                        </div>
                        <div class="price">69元</div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                    <li class="items">
                        <a href="javascript:void(0);" class="img">
                            <img src="/public/img/xiaomi_03/p6-9.jpg?v=bc8d6e7" class="lazy">
                        </a>
                        <div class="brief">
                            <h1>小米活塞耳机 基础版</h1>
                            <p>新鲜绽放，五色可选</p>
                        </div>
                        <div class="price">29元</div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                    <li class="items">
                        <a href="javascript:void(0);" class="img">
                            <img src="/public/img/xiaomi_03/p6-10.jpg?v=6b27e7b" class="lazy">
                        </a>
                        <div class="brief">
                            <h1>钻石糖</h1>
                            <p>是不是满满的回忆？</p>
                        </div>
                        <div class="price">回忆无价</div>
                    </li>
                    <li class="items">
                        <a href="javascript:void(0);" class="img">
                            <img src="/public/img/xiaomi_03/p6-11.jpg?v=b433ce3" class="lazy"></a>
                        <div class="brief">
                            <h1>学院风简约双肩包</h1>
                            <p>经典百搭颜色 一件包邮</p>
                        </div>
                        <div class="price">49元
                            <del>59元</del>
                        </div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                    <li class="items">
                        <a href="javascript:void(0);" class="img">
                            <img src="/public/img/xiaomi_03/p6-12.jpg?v=89d3bb7" class="lazy">
                        </a>
                        <div class="brief">
                            <h1>小米极简都市双肩包</h1>
                            <p>方形立体设计 4重存储空间</p>
                        </div>
                        <div class="price">129元
                            <del>149元</del>
                        </div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="gift" class="section parts section-wrap7">
            <div class="title-img">
                <a href="javascript:void(0);">
                    <img src="/public/img/xiaomi_03/p7-1-1c38e635b2.jpg?v=10eeace" class="lazy">
                </a>
            </div>
            <div class="gift">
                <a href="javascript:void(0);">
                    <img src="/public/img/xiaomi_03/jr-cb5d2c4a67.png?v=4bf0aa5" class="lazy">
                </a>
            </div>
            <div class="shareBox">
                <img src="/public/img/xiaomi_03/p7-2-25666b72da.jpg?v=8d19265" class="lazy">
                <div class="link">
                    <div class="btn share">我要分享</div>
                    <a href="javascript:void(0);" class="rules">活动规则 &gt;</a>
                </div>
            </div>
            <div class="show">
                <img src="/public/img/xiaomi_03/p7-3-287ee6a5a2.jpg?v=74332dd" class="lazy">
            </div>
            <div class="footer">
                <p>小米为发烧而生</p>
            </div>
        </div>
    </div>
    <script src="/static/js/libs/jquery.min.js?v1.11.3"></script>
    <script src="/static/js/libs/vue.min.js?v1.0.26"></script>
    <script src="../../public/js/xiaomi_03/script.min.js?v=5242e8b"></script>
</body>

</html>