<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0, minimal-ui">
    <meta name="imagemode" content="force">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="pragma" content="no-cache">
    <title>小米商城</title>
    <link rel="stylesheet" href="../../public/css/xiaomi_03/style.min.css?v=7617d65">
    <script src="/static/js/_modules/common.js"></script>
</head>

<body>
    <div id="app" class="viewport" v-cloak>
        <div class="section section-header">
            <div class="slider">
                <div class="part" v-for="todo in banner" :class="todo.is_active === true ? 'active' : ''">
                    <img v-bind:src="'/public/img/xiaomi_03/' + todo.img_url" alt="{{todo.title}}" class="lazy">
                </div>
            </div>
        </div>
        <div class="section section-nav">
            <div id="J-nav" class="nav">
                <a href="javascript:void(0);" data-target="#childhood" class="items items-a active">忆童年</a>
                <a href="javascript:void(0);" data-target="#new" class="items items-b">玩新品</a>
                <a href="javascript:void(0);" data-target="#special" class="items items-c">享特惠</a>
                <a href="javascript:void(0);" data-target="#gift" class="items items-d">赢好礼</a>
            </div>
        </div>
        <div id="childhood" class="section parts section-wrap1">
            <div class="title-img">
                <img src="/public/img/xiaomi_03/p1-1960544c22.jpg?v=9e55964" class="lazy">
            </div>
            <div class="showBox">
                <ul class="list">
                    <li class="items" v-for="todo in product_list_01">
                        <div class="img">
                            <img v-bind:src="'/public/img/xiaomi_03/' + todo.img_url" class="lazy" alt="{{todo.title}}">
                        </div>
                        <div class="brief">
                            <h1>{{todo.title}}</h1>
                            <p>{{todo.desc}}</p>
                        </div>
                        <div class="price">{{todo.price}}元<em v-if="todo.is_qi">起</em></div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section parts section-wrap2">
            <div class="title-img">
                <img src="/public/img/xiaomi_03/p2-a7a1fe39b5.jpg?v=2bd9663" class="lazy">
            </div>
            <div class="showBox">
                <ul class="list">
                    <li class="items" v-for="todo in product_list_02">
                        <a href="javascript:void(0);" class="img">
                            <img v-bind:src="'/public/img/xiaomi_03/' + todo.img_url" class="lazy" alt="{{todo.title}}">
                        </a>
                        <div class="brief">
                            <h1>{{todo.title}}</h1>
                            <p>{{todo.desc}}</p>
                        </div>
                        <div class="price">{{todo.price}}元</div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section parts section-wrap3">
            <div class="title-img">
                <img src="/public/img/xiaomi_03/p3-8f3b5ed58c.jpg?v=4a0d949" class="lazy">
            </div>
            <div class="showBox">
                <ul class="list">
                    <li class="items" v-for=" todo in product_list_03">
                        <a href="javascript:void(0);" class="img">
                            <img v-bind:src="'/public/img/xiaomi_03/' + todo.img_url" class="lazy" alt="{{todo.title}}">
                        </a>
                        <div class="brief">
                            <h1>{{todo.title}}</h1>
                            <p>{{todo.desc}}</p>
                        </div>
                        <div class="price">{{todo.price}}元</div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="section parts section-wrap4">
            <div class="title-img">
                <img src="/public/img/xiaomi_03/p4-41a970c817.jpg?v=6148ab4" class="lazy">
            </div>
            <div class="showBox">
                <ul class="list">
                    <li class="items" v-for="todo in product_list_04">
                        <a href="javascript:void(0);" class="img">
                            <img v-bind:src="'/public/img/xiaomi_03/' + todo.img_url" class="lazy" alt="{{todo.title}}">
                        </a>
                        <div class="brief">
                            <h1>{{todo.title}}</h1>
                            <p>{{todo.desc}}</p>
                        </div>
                        <div class="price">{{todo.price}}元</div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="new" class="section parts section-wrap5">
            <div class="title-img">
                <img src="/public/img/xiaomi_03/p5-0ab5647b55.jpg?v=d6afbd0" class="lazy">
            </div>
            <div class="showBox wrap5">
                <img src="/public/img/xiaomi_03/p5-box-6cd900c308.jpg?v=1b69b0d" class="lazy lazy-bg">
                <ul class="list">
                    <li class="items" v-for="todo in product_list_05">
                        <a href="javascript:void(0);" class="img">
                            <img v-bind:src="'/public/img/xiaomi_03/' + todo.img_url" class="lazy" alt="{{todo.title}}">
                        </a>
                        <div class="brief">
                            <h1>{{todo.title}}</h1>
                            <p>{{todo.desc}}</p>
                        </div>
                        <div class="price">{{todo.price}}元</div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="special" class="section parts section-wrap6">
            <div class="title-img">
                <img scr="/public/img/xiaomi_03/p6-a69886324e.jpg?v=f93747c" class="lazy">
            </div>
            <div class="showBox">
                <ul class="list">
                    <li class="items" v-for="todo in product_list_06">
                        <a href="javascript:void(0);" class="img">
                            <img v-bind:src="'/public/img/xiaomi_03/' + todo.img_url" class="lazy" alt="{{todo.title}}">
                        </a>
                        <div class="brief">
                            <h1>{{todo.title}}</h1>
                            <p>{{todo.desc}}</p>
                        </div>
                        <div class="price" v-if="todo.price_plus !== ''">
                            {{todo.price}}元
                            <del>{{todo.price_plus}}元</del>
                        </div>
                        <div class="price" v-if="todo.is_qi">
                            {{todo.price}}元
                        </div>
                        <div class="price" v-if="todo.is_text !== ''">
                            {{todo.is_text}}
                        </div>
                        <a href="javascript:void(0);" class="btn-buy">立即购买</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="gift" class="section parts section-wrap7">
            <div class="title-img">
                <a href="javascript:void(0);">
                    <img src="/public/img/xiaomi_03/p7-1-1c38e635b2.jpg?v=10eeace" class="lazy">
                </a>
            </div>
            <div class="gift">
                <a href="javascript:void(0);">
                    <img src="/public/img/xiaomi_03/jr-cb5d2c4a67.png?v=4bf0aa5" class="lazy">
                </a>
            </div>
            <div class="shareBox">
                <img src="/public/img/xiaomi_03/p7-2-25666b72da.jpg?v=8d19265" class="lazy">
                <div class="link">
                    <div class="btn share">我要分享</div>
                    <a href="javascript:void(0);" class="rules">活动规则 &gt;</a>
                </div>
            </div>
            <div class="show">
                <img src="/public/img/xiaomi_03/p7-3-287ee6a5a2.jpg?v=74332dd" class="lazy">
            </div>
            <div class="footer">
                <p>小米为发烧而生</p>
            </div>
        </div>
    </div>
    <script src="/static/js/libs/jquery.min.js?v1.11.3"></script>
    <script src="/static/js/libs/vue.min.js?v1.0.26"></script>
    <script src="../../public/js/xiaomi_03/script.min.js?v=bb84714"></script>
</body>

</html>