/**
 *
 * @authors chenfuxin (chenfuxin@99cj.com.cn)
 * @date    2016-11-02 09:13:31
 */

@import '../../../static/scss/_mobile_normalize.scss';
$imgUrl: '/public/img/xiaomi_01/';
//Your style Here
html,
body {
    height: 100%;
    font-size: .2rem;
}

body {
    background: #000;
    font-family: "Microsoft Yahei";
}

.viewport {
    width: 100%;
    max-width: 7.2rem;
    margin: 0 auto;
    background: #000;
    .lazy {
        width: 100%;
    }
}

.boxBtn {
    box-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0 1rem;
    .flex-1 {
        width: 100%;
        margin: 0 .2rem;
    }
    .btn {
        display: block;
        font-size: .22rem;
        color: #af8e69;
        border: 1px solid #af8e69;
        line-height: .5rem;
        text-align: center;
        width: 2.3rem;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 5px;
        -webkit-border-radius: 5px;
    }
}

.tips {
    font-size: .16rem;
    color: #6f6f6f;
    padding: .8rem 0 .5rem .8rem;
}