/**
 * @authors chenfuxin (since1991_vip@163.com)
 * @date    2017-01-20 14:25:06
 */

@import '../../../static/scss/_mobile_normalize.scss';
@mixin transition($arr) {
    -webkit-transition: $arr;
    -moz-transition: $arr;
    -ms-transition: $arr;
    -o-transition: $arr;
    transition: $arr;
}

@mixin transform($arr) {
    -webkit-transform: $arr;
    -moz-transform: $arr;
    -ms-transform: $arr;
    -o-transform: $arr;
    transform: $arr;
}

@mixin animation($arr) {
    -webkit-animation: $arr;
    -moz-animation: $arr;
    -ms-zoom-animation: $arr;
    -o-animation: $arr;
    animation: $arr;
}

@mixin pos {
    position: relative;
}

@mixin abs {
    position: absolute;
}

@mixin abs-lt {
    position: absolute;
    left: 50%;
    top: 50%;
}

//Your style Here
html,
body {
    height: 100%;
    font-size: .2rem;
}

body {
    background: #fff;
    font-family: "Microsoft Yahei";
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="text"] {
    -webkit-appearance: none;
}

.viewport {
    width: 100%;
    max-width: 7.5rem;
    margin: 0 auto;
    background: #fff;
    .lazy {
        width: 100%;
    }
}

.spacing-line {
    background: #f2f2f2;
    width: 100%;
    max-width: 7.5rem;
    position: fixed;
    left: 50%;
    top: 0;
    margin-left: -3.75rem;
    z-index: 9;
}

.section-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 7.5rem;
    height: .8rem;
    z-index: 99;
    background: #fff;
    border-top: .1rem solid #f2f2f2;
    .bj-nav {
        padding: 0 .28rem;
    }
    .nav-box {
        padding: 0 .35rem;
        position: relative;
        display: flex;
        display: -webkit-flex;
        display: -ms-webkit;
        display: -webkit-box;
        div {
            display: inline-block;
            font-size: .3rem;
            color: #ff4700;
            width: 3rem;
            text-align: center;
            flex: 1;
            -webkit-box-flex: 1;
            border-left: 1px solid #e6e6e6;
            margin-top: .25rem;
            &:first-child {
                border-left: 0;
            }
        }
        a {
            color: #ff4700;
            display: inline-block;
            width: 2.5rem;
            font-size: .3rem;
        }
        .tab-line {
            display: block;
            position: absolute;
            top: .77rem;
            right: .63rem;
            width: 2.5rem;
            height: .03rem;
            background: #ff4700;
        }
    }
}

.section-content {
    position: relative;
    margin-top: .9rem;
    margin-bottom: 1rem;
    .gold-box {
        padding: 0 .28rem;
        background-color: #f2f2f2;
        .left {
            text-align: left;
            text-indent: .5rem;
        }
        .right {
            text-align: right;
        }
    }
    .ui-flex {
        position: relative;
        display: flex;
        display: -webkit-flex;
        display: -ms-flex;
    }
    .box-title {
        background: #f2f2f2;
        height: .6rem;
        line-height: .6rem;
    }
    .flex-1 {
        color: #727171;
        font-size: .26rem;
        text-align: center;
    }
    .content-box {
        background: #fff;
        padding: 0 .28rem .52rem;
        ul {
            height: .79rem;
            line-height: .8rem;
            cursor: pointer;
            border-bottom: 1px solid #e6e6e6;
        }
        li {
            color: #221815;
            font-size: .3rem;
            height: .79rem;
            overflow: hidden;
            &:nth-child(1) {
                text-align: left;
            }
            &:nth-child(2) {
                text-align: center;
            }
            &:nth-child(3) {
                text-align: right;
            }
        }
        .red {
            color: #ff0000;
        }
        .green {
            color: #0dc240;
        }
    }
}

.footer-nav-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    height: .94rem;
    max-width: 7.5rem;
    margin: 0 auto;
    background: #fff;
    border-top: 1px solid #d7d7d7;
    clear: both;
    ul {
        width: 100%;
        height: .87rem;
        padding-top: .07rem;
        display: block;
        margin: 0 auto;
        clear: both;
        li {
            float: left;
            width: 25%;
            height: .87rem;
            line-height: .3rem;
            text-align: center;
            font-size: .24rem;
            &.active {
                a {
                    color: #ff4700;
                }
                .icon1 {
                    background: url('/public/img/hc_h5_wx_v01/nav_home.png') no-repeat center;
                    background-size: contain;
                }
                .icon2 {
                    background: url('/public/img/hc_h5_wx_v01/nav_crown.png') no-repeat center;
                    background-size: contain;
                }
                .icon3 {
                    background: url('/public/img/hc_h5_wx_v01/nav_diamond.png') no-repeat center;
                    background-size: contain;
                }
                .icon4 {
                    background: url('/public/img/hc_h5_wx_v01/nav_user.png') no-repeat center;
                    background-size: contain;
                }
            }
        }
    }
    .icon {
        display: inline-block;
        width: .55rem;
        height: .47rem;
        &.icon1 {
            background: url('/public/img/hc_h5_wx_v01/nav_home_a.png') no-repeat center;
            background-size: contain;
        }
        &.icon2 {
            background: url('/public/img/hc_h5_wx_v01/nav_crown_a.png') no-repeat center;
            background-size: contain;
        }
        &.icon3 {
            background: url('/public/img/hc_h5_wx_v01/nav_diamond_a.png') no-repeat center;
            background-size: contain;
        }
        &.icon4 {
            background: url('/public/img/hc_h5_wx_v01/nav_user_a.png') no-repeat center;
            background-size: contain;
        }
    }
}