/**
 * @authors chenfuxin (since1991_vip@163.com)
 * @date    2017-02-23 09:56:07
 */

@import '../../../static/scss/_mobile_normalize.scss';
$imgUrl: '/public/img/wx_business/';
//Your style Here
html,
body {
    height: 100%;
    font-size: .2rem;
    background: #eee;
}

body {
    font-family: "Microsoft Yahei";
}

h1,
h2,
h3,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

@mixin pos {
    position: relative;
}

@mixin abs {
    position: absolute;
}

@mixin transition($arr) {
    -webkit-transition: $arr;
    -moz-transition: $arr;
    -ms-transition: $arr;
    -o-transition: $arr;
    transition: $arr;
}

@mixin transform($arr) {
    -webkit-transform: $arr;
    -moz-transform: $arr;
    -ms-transform: $arr;
    -o-transform: $arr;
    transform: $arr;
}

.container {
    margin: 0 .2rem;
}

.section {
    width: 100%;
    @include pos;
    background: #eee;
}

.viewport {
    width: 100%;
    max-width: 7.2rem;
    margin: 0 auto;
    .lazy {
        width: 100%;
    }
}

.section-banner {
    width: 100%;
    height: 3.46rem;
    &.preload {
        background: url('../img/planTradition_banner_icon.jpg') no-repeat;
        background-size: 100% 100%;
    }
}

.section-plan1 {
    height: 5.32rem;
    img {
        width: 100%;
        height: 5.32rem;
    }
}

.section-plan2 {
    height: 5.4rem;
    img {
        width: 100%;
        height: 5.4rem;
    }
}

.section-plan3 {
    height: 5.44rem;
    img {
        width: 100%;
        height: 5.44rem;
    }
}

.section-container {
    padding-top: .3rem;
    .container {
        overflow: hidden;
    }
    ul {
        li {
            width: 2.13rem;
            height: 2.14rem;
            margin-left: .15rem;
            &:first-child {
                margin-left: 0;
            }
            img {
                width: 2.13rem;
                height: 2.14rem;
            }
        }
    }
}

.section-copyright {
    background: #eee;
    height: .76rem;
    line-height: .76rem;
    text-align: center;
    font-size: .28rem;
    color: #ababab;
}

.return-index {
    display: block;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    background: #027a9b;
    color: #fff;
    font-size: .3rem;
}