/**
 * @authors chenfuxin (since1991_vip@163.com)
 * @date    2017-02-22 08:58:36
 */

@import '../../../static/scss/_mobile_normalize.scss';
$imgUrl: '/public/img/wx_business/';
//Your style Here
html,
body {
    height: 100%;
    font-size: .2rem;
    background: #eee;
}

body {
    font-family: "Microsoft Yahei";
}

h1,
h2,
h3,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

@mixin pos {
    position: relative;
}

@mixin abs {
    position: absolute;
}

@mixin transition($arr) {
    -webkit-transition: $arr;
    -moz-transition: $arr;
    -ms-transition: $arr;
    -o-transition: $arr;
    transition: $arr;
}

@mixin transform($arr) {
    -webkit-transform: $arr;
    -moz-transform: $arr;
    -ms-transform: $arr;
    -o-transform: $arr;
    transform: $arr;
}

.container {
    margin: 0 .2rem;
}

.section {
    @include pos;
    background: #eee;
}

.viewport {
    width: 100%;
    max-width: 7.2rem;
    margin: 0 auto;
    .lazy {
        width: 100%;
    }
}

.section-banner {
    width: 100%;
    height: 3rem;
    &.preload {
        background: url('../img/platform_banner_icon.jpg') no-repeat;
        background-size: 100% 100%;
    }
}

.section-wrap1 {
    padding-top: .2rem;
    .container {
        border: 1px solid #d3d1d1;
        background: #fff;
    }
    .items {
        .items-box {
            padding: .28rem .4rem;
        }
        display: table;
        border-bottom: 1px dotted #d3d1d1;
        .text {
            margin-left: -1rem;
            .title {
                font-size: .32rem;
                color: #88c545;
            }
            p {
                font-size: .28rem;
                line-height: .45rem;
                color: #ababab;
            }
        }
        img {
            width: 2.14rem;
            height: 4.12rem;
        }
        &:last-child {
            border-bottom: 0;
            img {
                width: 2.1rem;
                height: 4.06rem;
            }
        }
    }
}

.section-wrap2 {
    padding-top: .2rem;
    .container {
        border: 1px solid #d3d1d1;
        background: #fff;
        overflow: hidden;
    }
    .title {
        padding-left: .1rem;
        color: #fff;
        font-size: .34rem;
        height: .54rem;
        line-height: .54rem;
        background: #88c545;
        border-bottom: 1px solid #d3d1d1;
    }
    .text {
        padding: .15rem .1rem;
        text-align: center;
        p {
            font-size: .28rem;
            line-height: .45rem;
            color: #ababab;
            text-align: left;
        }
        img {
            width: 4.45rem;
            height: 2.62rem;
        }
    }
    ul {
        margin-top: .2rem;
        padding: 0 .1rem .2rem;
        li {
            padding: .1rem 0;
            background: #f2f2f2;
            text-align: center;
            margin-left: .1rem;
            &:first-child {
                margin-left: 0;
            }
            img {
                width: .5rem;
                height: .45rem;
            }
            .name {
                font-size: .22rem;
                color: #363635;
            }
        }
    }
}

.section-wrap3 {
    padding-top: .2rem;
    ul {
        border-bottom: 1px solid #d3d1d1;
        &:last-child {
            border: 0;
        }
        li {
            text-align: center;
            padding: .35rem 0;
            border-left: 1px solid #d3d1d1;
            &:first-child {
                border: 0;
            }
        }
        a {
            display: block;
            font-size: .26rem;
            color: #363635;
        }
    }
}

.section-copyright {
    background: #eee;
    height: .76rem;
    line-height: .76rem;
    text-align: center;
    font-size: .28rem;
    color: #ababab;
}

.return-index {
    display: block;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    background: #027a9b;
    color: #fff;
    font-size: .3rem;
}