/**
 * @authors chenfuxin (since1991_vip@163.com)
 * @date    2017-02-17 10:42:01
 */

@import '../../../static/scss/_mobile_normalize.scss';
$imgUrl: '/public/img/wx_business/';
//Your style Here
html,
body {
    height: 100%;
    font-size: .2rem;
    background: #eee;
}

body {
    font-family: "Microsoft Yahei";
}

h1,
h2,
h3,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

@mixin pos {
    position: relative;
}

@mixin abs {
    position: absolute;
}

@mixin transition($arr) {
    -webkit-transition: $arr;
    -moz-transition: $arr;
    -ms-transition: $arr;
    -o-transition: $arr;
    transition: $arr;
}

@mixin transform($arr) {
    -webkit-transform: $arr;
    -moz-transform: $arr;
    -ms-transform: $arr;
    -o-transform: $arr;
    transform: $arr;
}

.container {
    margin: 0 .2rem;
}

.section {
    @include pos;
    background: #eee;
}

.viewport {
    width: 100%;
    max-width: 7.2rem;
    margin: 0 auto;
    .lazy {
        width: 100%;
    }
}

.section-banner {
    height: 3.61rem;
    .text {
        @include abs;
        top: 1.3rem;
        right: .7rem;
        color: #fff;
    }
    span {
        display: block;
        // opacity: 0;
    }
    .desc-1 {
        font-size: .48rem;
        line-height: .7rem;
        // @include transition(all .4s ease-out);
        // @include transform(translate3d(0, 3em, 0));
    }
    .desc-2 {
        font-size: .24rem;
        line-height: .6rem;
        // @include transition(all .4s .5s ease-out);
        // @include transform(translate3d(0, 3em, 0));
    }
    &.preload {
        background: url('../img/product_banner_icon.jpg') no-repeat;
        background-size: 100% 100%;
        // span {
        // 	opacity: 1;
        // 	@include transform(translate3d(0, 0, 0));
        // }
    }
}

.section-container {
    padding-top: .2rem;
    .items {
        @include pos;
        .flex-1 {
            margin-left: 0.1rem;
            &:first-child {
                margin-left: 0;
            }
            a {
                display: block;
                margin-bottom: .1rem;
                width: 3.35rem;
            }
            img {
                width: 3.35rem;
            }
            .bigimg {
                height: 3.16rem;
                img {
                    height: 3.16rem;
                }
            }
            .smallimg {
                height: 1.53rem;
                img {
                    height: 1.53rem;
                }
            }
        }
    }
}

.section-copyright {
    background: #eee;
    height: .76rem;
    line-height: .76rem;
    text-align: center;
    font-size: .28rem;
    color: #ababab;
}

.return-index {
    display: block;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    background: #027a9b;
    color: #fff;
    font-size: .3rem;
}