/**
 *
 * @authors chenfuxin (chenfuxin@99cj.com.cn)
 * @date    2016-11-02 09:13:31
 */

@import '../../../static/scss/_mobile_normalize.scss';
$imgUrl: '/public/img/wx_business/';
[v-cloak] {
    display: none;
}

//Your style Here
html,
body {
    height: 100%;
    font-size: .2rem;
}

body {
    font-family: "Microsoft Yahei";
}

h1,
h2,
h3,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

@mixin pos {
    position: relative;
}

@mixin abs {
    position: absolute;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

@mixin transition($arr) {
    -webkit-transition: $arr;
    -moz-transition: $arr;
    -ms-transition: $arr;
    -o-transition: $arr;
    transition: $arr;
}

@mixin transform($arr) {
    -webkit-transform: $arr;
    -moz-transform: $arr;
    -ms-transform: $arr;
    -o-transform: $arr;
    transform: $arr;
}

.container {
    margin: 0 .2rem;
}

.section {
    @include pos;
}

.viewport {
    width: 100%;
    max-width: 7.2rem;
    margin: 0 auto;
    .lazy {
        width: 100%;
    }
}

.section-header {
    @include pos;
    width: 100%;
    height: .98rem;
    background: #fff;
    .container {
        @include pos;
    }
    .logo {
        display: block;
        width: 2.25rem;
        height: 100%;
        margin: 0 auto;
        a {
            display: block;
            width: 2.25rem;
            height: .46rem;
            padding-top: .26rem;
        }
        img {
            width: 2.25rem;
            height: .46rem;
        }
    }
    .link {
        @include abs;
        right: 0;
        top: 0;
        line-height: .98rem;
        a {
            display: inline-block;
            width: .48rem;
            height: .48rem;
        }
        img {
            width: .48rem;
            height: .48rem;
        }
        .phone {
            margin-left: .48rem;
        }
    }
}

.section-banner {
    width: 100%;
    height: 4rem;
    background: url('#{$imgUrl}weixin_banner_icon.jpg') no-repeat center center;
    background-size: 100% 100%;
    .text {
        color: #fff;
        font-size: .38rem;
        text-align: center;
        padding-top: .56rem;
    }
    span {
        display: block;
        line-height: .65rem;
    }
}

.section-container {
    background: #eee;
    .container {
        padding-top: .2rem;
    }
    a {
        display: block;
        width: 3.36rem;
        height: 3.35rem;
    }
    .big {
        img {
            width: 3.36rem;
            height: 3.35rem;
        }
    }
    .items-top,
    .items-bottom {
        a {
            height: 1.63rem;
        }
        img {
            width: 3.36rem;
            height: 1.63rem;
        }
    }
    .box1 {
        .flex-1:nth-child(2) {
            margin-left: .08rem;
        }
        .items-bottom {
            margin-top: .09rem;
        }
    }
    .box2 {
        margin-top: .09rem;
        .flex-1:nth-child(2) {
            margin-left: .08rem;
        }
        .items-bottom {
            margin-top: .09rem;
        }
    }
}

.section-footer {
    height: .68rem;
    line-height: .68rem;
    background: #eee;
    text-align: center;
    font-size: .28rem;
    color: #ababab;
}